#balance_button {
	dock: left;
}
#balance_button:focus {
    text-style: none;
}
#right_button {
}
Header {
    height: 3;
    width: 100%;
    background: $surface;
    layout: horizontal;
    align: center middle;
}
